<?xml version="1.0" encoding="UTF-8"?>
<!--Configuration后面的status，这个用于设置log4j2自身内部的信息输出，可以不设置，当设置成trace时，你会看到log4j2内部各种详细输出-->
<!--monitorInterval：Log4j能够自动检测修改配置 文件和重新配置本身，设置间隔秒数-->
<Configuration monitorInterval="5">
    <!--日志级别以及优先级排序: OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->

    <!--变量配置-->
    <Properties>
        <Property name="APP_NAME">data</Property>
        <Property name="LOG_DIR">logs</Property>
        <!-- 格式化输出：%date表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度 %msg：日志消息，%n是换行符-->
        <Property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n"/>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!--输出日志的格式-->
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <RollingFile name="RollingFile"
                     filename="${LOG_DIR}/${APP_NAME}.log"
                     filePattern="${LOG_DIR}/${APP_NAME}-%d{yyyyMMdd}.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <!-- Policies :日志滚动策略-->
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${LOG_DIR}" maxDepth="1">
                    <!-- 删除所有匹配正则的文件 -->
                    <IfFileName glob="${APP_NAME}-*.log.gz"/>
                    <IfLastModified age="30d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <!--Logger节点用来单独指定日志的形式，比如要为指定包下的class指定不同的日志级别等。-->
    <!--然后定义loggers，只有定义了logger并引入的appender，appender才会生效-->
    <Loggers>
        <!-- show parameters for jdbcTemplate sql 专为 jdbcTemplate 定制 -->

        <!-- spring jdbc sql -->
        <Logger name="org.springframework.jdbc.core.JdbcTemplate" additivity="true" level="DEBUG"/>
        <!-- spring jdbc参数绑定日志 -->
        <!--        <Logger name="org.springframework.jdbc.core.StatementCreatorUtils" additivity="true" level="TRACE" />-->
        <!-- spring jdbc查询结果bean map映射 -->
<!--        <Logger name="org.springframework.jdbc.core.BeanPropertyRowMapper" additivity="true" level="DEBUG"/>-->

        <!-- mongodb日志开启 -->
        <!--        <logger name="org.springframework.data.mongodb.core" level="DEBUG"/>-->
        <!-- 日志输出级别 -->
        <Root level="INFO">
            <Appender-ref ref="Console"/>
            <Appender-ref ref="RollingFile"/>
        </Root>

    </Loggers>

</Configuration>