<?xml version="1.0" encoding="UTF-8"?>
<!--Configuration后面的status，这个用于设置log4j2自身内部的信息输出，可以不设置，当设置成trace时，你会看到log4j2内部各种详细输出-->
<!--monitorInterval：Log4j能够自动检测修改配置 文件和重新配置本身，设置间隔秒数-->
<configuration monitorInterval="5">
    <!--日志级别以及优先级排序: OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->

    <!--变量配置-->
    <Properties>
        <!-- 格式化输出：%date表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度 %msg：日志消息，%n是换行符-->
        <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n" />
    </Properties>

    <appenders>

        <console name="Console" target="SYSTEM_OUT">
            <!--输出日志的格式-->
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </console>

        <RollingFile name="RollingFile"
                     filename="logs/data.log"
                     filePattern="logs/data-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <!-- Policies :日志滚动策略-->
            <Policies>
                <!-- SizeBasedTriggeringPolicy :文件大小滚动策略-->
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <!-- DefaultRolloverStrategy属性如不设置，则默认为最多同一文件夹下7个文件，这里设置了20 -->
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

    </appenders>

    <!--Logger节点用来单独指定日志的形式，比如要为指定包下的class指定不同的日志级别等。-->
    <!--然后定义loggers，只有定义了logger并引入的appender，appender才会生效-->
    <loggers>
        <!-- show parameters for hibernate sql 专为 Hibernate 定制 -->
        <!-- jpa参数绑定日志 -->
        <!--    <logger name="org.hibernate.type.descriptor.sql.BasicBinder"  level="TRACE" />-->
        <!-- jpa解析日志 -->
        <!--    <logger name="org.hibernate.type.descriptor.sql.BasicExtractor"  level="TRACE" />-->
        <!-- jpa sql -->
        <logger name="org.hibernate.SQL" level="DEBUG"/>

        <!-- show parameters for jdbcTemplate sql 专为 jdbcTemplate 定制 -->
        <!-- spring jdbc参数绑定日志 -->
        <!--    <logger name="org.springframework.jdbc.core.StatementCreatorUtils" additivity="true" level="TRACE" />-->
        <!-- spring jdbc sql -->
        <logger name="org.springframework.jdbc.core" additivity="true" level="DEBUG"/>

        <!-- mongodb日志开启 -->
        <logger name="org.springframework.data.mongodb.core" level="DEBUG"/>

        <!-- 日志输出级别 -->
        <root level="INFO">
            <appender-ref ref="Console"/>
            <appender-ref ref="RollingFile"/>
        </root>

    </loggers>

</configuration>